/* Back button styles with arrow */
.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #157878; /* Cayman primary color */
  color: white;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.back-button::before {
  content: "← "; /* Adding the left arrow before the text */
  margin-right: 5px;
}

.back-button:hover {
  background-color: #0d5959; /* Darker Cayman hover color */
  border-color: #0d5959;
}

/* Top button styles with arrow */
.top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #157878; /* Cayman primary color */
  color: white;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.top-button::before {
  content: "↑ "; /* Adding the up arrow before the text */
  margin-right: 5px;
}

.top-button:hover {
  background-color: #0d5959; /* Darker Cayman hover color */
  border-color: #0d5959;
}